img {
    width: 20%;
}

.header__logo {
    background-color: #006eff;
}

.header__logo img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    background-color: #777575;
    border-bottom: 3px solid white;
}

nav li a{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.cardmain {
    background-image: url(../assets/img/foto-principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

.card__titulo {
    color: white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
    text-shadow: 1px 1px 1px black;
}

.card__texto {
    margin-bottom: 100px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    text-shadow: 0px 0px 10px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardupdate {
    background-image: url(../assets/img/estadio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border-top: 10px solid white;
}

.update__titulo {
    margin-top: 100px;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.update__texto {
    margin-bottom: 100px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.update__logo {
    border: 3px solid white;
    width: 45%;
}


footer {
    background-color: #006eff;
    border-top: 3px solid white;
}

.footer__logo {
    width: 50px;
}

.footer__encabezado {
    color: white;
    margin-top: 10px;
}

.card__nosotros {
    grid-area: card__nosotros;
    background-image: url(../assets/img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.card__historia {
    background-image: url(../assets/img/historia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.card__principal {
    background-image: url(../assets/img/sede.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.card__mapa {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.compania__texto {
    color: white;
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
}

.compania__texto1 {
    text-align: end;
}

.compania__titulo{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 0px black;
}




@media (max-width: 576px) {
    .card__titulo {
        font-size: 30px;
    }

    .update__titulo {
        font-size: 30px;
    }

    .update__texto{
        font-size: 10px;
    }

    img {
        width: 60%;
    }
}




