header .header__logo {
  background-color: #006eff; }
  header .header__logo img {
    margin: 20px 0px 20px 0px;
    width: 20%; }

header .navbar {
  background-color: #777575;
  border-bottom: 3px solid white; }
  header .navbar a {
    color: white !important;
    text-align: center;
    font--family: Arial, Helvetica, sans-serif;
    font--weight: bold; }

main {
  height: 1000px; }
  main .cardmain {
    height: 35%;
    background-image: url(../assets/img/foto-principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    main .cardmain .card__titulo {
      color: white;
      margin-top: 100px;
      text-shadow: 1px 1px 1px black;
      font--size: 60px;
      font--family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  main .cardupdate {
    background-image: url(../assets/img/estadio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65%;
    border-top: 10px solid white; }
    main .cardupdate .update__titulo {
      margin: 100px 0px 10px 0px;
      color: white;
      font--family: Arial, Helvetica, sans-serif;
      font--weight: bold;
      font--size: 80px; }
    main .cardupdate .update__logo {
      border: 3px solid white;
      width: 45%; }
    main .cardupdate .update__texto {
      margin: 10px 0px 100px 0px;
      color: white;
      text-align: center; }

@media (max-width: 576px) {
  main {
    height: 700px; } }

footer {
  background-color: #006eff; }
  footer .footer__encabezado {
    color: white;
    margin-top: 10px; }
  footer .footer__logo {
    width: 50px; }
