img {
    width: 20%;
}

.header__logo {
    background-color: #006eff;
}

.header__logo img {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.header__logo img:hover {
    transform: rotate(360deg);
}

.navbar {
    background-color: #777575;
    border-bottom: 3px solid white;
}

nav li a{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    transition: all .2s;
}

.cardmain {
    background-image: url(../assets/img/foto-principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
}

.card__titulo {
    color: white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 100px;
    text-shadow: 1px 1px 1px black;
    transition: all 2s;
    animation: titulo 1.5s infinite;
}

@keyframes titulo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.card__titulo:hover {
    transform: scale(1.2);
}

.card__texto {
    margin-bottom: 100px;
    color: white;
    font-size: 40px;
    text-decoration: none;
    text-shadow: 0px 0px 10px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    transition: all 1s;
}

.card__texto:hover {
    color: white;
    transform: scale(1.2);
    text-shadow: 3px 3px 1px black;
    color: #00b7ff;
}

.cardupdate {
    background-image: url(../assets/img/estadio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    border-top: 10px solid white;
}

.update__titulo {
    margin-top: 100px;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.update__texto {
    margin-bottom: 100px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.update__logo {
    border: 3px solid white;
    width: 45%;
}


footer {
    background-color: #006eff;
    border-top: 3px solid white;
}

.footer__logo {
    width: 50px;
    transition: all 0.6s;
}

.footer__logo:hover {
    transform: scale(0.8);
}

.footer__encabezado {
    color: white;
    margin-top: 10px;
}

.card__nosotros {
    grid-area: card__nosotros;
    background-image: url(../assets/img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.card__historia {
    background-image: url(../assets/img/historia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-top: 5px solid white;
}

.card__principal {
    background-image: url(../assets/img/sede.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-top: 5px solid white;
}

.card__mapa {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.compania__texto {
    color: white;
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
    transition: 2s all;
}

.compania__texto:hover {
    background-color: black;
    border: 2px solid white;
    border-radius: 2px;
    padding-left: 20px;
}

.compania__texto1 {
    text-align: end;
}

.compania__texto1:hover {
    padding-right: 20px;
}

.compania__titulo{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 0px black;
}


nav li {
    transition: all .2s;
}

nav li:hover {
    transform: scale(.8);
}

nav li a:hover {
    color: #00b7ff !important;
}


@media (max-width: 576px) {
    .card__titulo {
        font-size: 30px;
    }

    .update__titulo {
        font-size: 30px;
    }

    .update__texto{
        font-size: 10px;
    }

    img {
        width: 60%;
    }
}